# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
.android/
# Other files and folders
.settings/
.ipynb_checkpoints/
checkpoint/*.data-00000-of-00001
checkpoint/*.index
checkpoint/*.meta
checkpoint/*.gz
*.pb
# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
